* {
    margin: 0;
    padding: 0;
}
html {font-size: 100%;}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    line-height: 1.42857143;
    height: auto;
    min-width: 220px;
    width: 100%;
}
a {
    text-decoration: none;
}
video {
    outline: none;
}

ul {
    border: none;
}
/*---------------------------------HEDER----------------------------*/
header {
    background: url('../img/bg/3.jpg') no-repeat center center fixed;
    background-size: cover;
    vertical-align: middle;
    color: #ffffff;
}
.bg-layer {
    background: rgba(7,7,7,.7);
    height: 100vh; 
    position: relative;
}
header .container-flex {
    padding: 0;
}
.header-menu {
    display: table;
    width: 100%;
    padding: 0px 3%;
    vertical-align: middle;
    position: absolute;
    z-index: 11;
    height: 50px;
    margin-top: 20px;
    border: none;
    
}

#header-menu.fixed {
    position: fixed;
    margin-top: 0px;
    background: rgb(102,102,102); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(84,84,84,1) 36%, rgba(35,35,35,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(84,84,84,1) 36%,rgba(35,35,35,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(84,84,84,1) 36%,rgba(35,35,35,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#232323',GradientType=0 ); /* IE6-9 */
    -o-transition: background 2s ease-in-out;
    -webkit-transition: background 2s ease-in-out;
    -moz-transition: background 2s ease-in-out;
    transition: background 2s ease-in-out;
}

.bg-responsive {
    display: none;
}
#logo {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    width: 200px;
}
.brand-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.brand-name:hover{
    color: white;
    
}
nav {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: normal;

}

nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    font-size: 1.1em;
    padding:0 10px;
}
nav ul li.active{
    color: black;
}
nav ul li a {
    color: #ffffff;
}
nav ul li:hover a {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.main-text {
    margin: 0 auto;
    height: 100vh;
    position: absolute;
    right: 0; left: 0;
    top: 0; bottom: 0;
    display: table;
    width: 100%;
}
.align-mid-text {
    display: table-cell;
    vertical-align: middle;
    padding: 42px 0;
}
.header-text {
    font-size: 60px;
    line-height: 1.17;
    padding: 0px 30px 0px 30px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto;
}
.header-descr {
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 30px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    max-width: 560px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

header svg {
    width: 38.40px;
    height: 18.5px;
    color: white;
    fill:#ffffff;
}
.arrow-down {
    position: absolute;
    bottom: 40px;
    right: 0; left: 0;
    margin: 0 auto;
    text-align: center;
    width: 38.40px;
    height: 18.5px;
}
.arrow {
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    box-sizing: content-box;
}
.arrow:hover {
    opacity: .7;
}
/*--------------------------------------------*/


/*----------------------------ABOUT------------------------------*/
.about {
    padding: 80px 0 80px 0;
}

.about-header, .services-header, .clients-header {
    font-size: 42px;
    line-height: 1.17;
    padding: 24px 30px 0px 30px;
    letter-spacing: .5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 30px auto;
    text-transform: uppercase;
    display: block;
}
.about-subtitle {
    font-size:32px; 
    margin:40px auto 50px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.17;
    padding: 24px 30px 0px 30px;
    letter-spacing: .5px;
}
.brand-color {
    color: #323c8d;
}

.about-text {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    margin: 0 auto;
    text-align:justify;
    padding: 0 8% 50px 8%;
}
/*VIDEO*/
.video {
    position: relative;
    margin: 0px auto;
    min-width: 280px;
    max-width: 768px;
    width: 100%;
    height: 360px;
    margin: 0 auto;
    background-color: #f8f8f8;
}
.video iframe {
    margin: 0 auto;
    width: 100%;
    height: 360px;
    padding: 0;
}

.video::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    background: url('../img/play-btn.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}
.video.hide-before::before {
    content: none;
}

.video:hover::before {
    transform: scale(1.1);
}
.video img {
    width: 100%;
    max-height: 360px;
}
/*VIDEO JS*/
/*
.intro-video {
    position: relative;
    display: block;
    width: 100%;
    min-width: 280px;
    max-width: 940px;
    margin: 0 auto;
    padding-top: 60px;
}
.vjs-poster {
    width: 100%;
    background-size: cover;
}
.video-js {
    width: 100%;
}
*/

/*------------------------ADD INFO-----------*/
#add-info {
    background: url('../img/bg-add.png') no-repeat center top fixed;
    background-size: cover;
}
.add-info {
    padding: 80px 0 100px 0;
}
/*--------------------------------*/

/*--------------------SERVICES----------------*/
.services {
    background-color: #ffffff;
    padding: 80px 0 160px 0;
    position: relative;
}
.services-descr {
    font-size: 24px;
    line-height: 1.5;
    padding:0 10% 30px 10%;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.content-services {
    padding: 60px 0 0;
    position: relative;
    height: auto;
    overflow:hidden;
    margin: 0 auto;
}
.service-items {
    display: block;
    height: auto;
}
.service-items .content-header {
    font-size: 18px;
    line-height: 1.23;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 1% 20px;
}
.content-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

/*---------------------PORTFOLIO-------------------------*/
.portfolio {
    background: url(../img/bg-add.png) no-repeat center top fixed;
    background-size: cover;
    padding: 40px 0 80px 0;
}
.portfolio .about-header {
    padding: 0;
    margin-bottom: 40px;
}
.portfolio .video {
    width: 100%;
    max-width: 768px;
    min-width: 280px;
}
.portfolio .video iframe {
    width: 100%;
}

.portfolio .video img {
    width: 100%;
}

.video-gallery, .video-gallery-sm {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: 568px;
    min-width: 280px;
    width: 100%;
    margin: 0 auto;
}

.video-slide {
    position: relative;
    outline: none;
   
}
.video-gallery-sm {
    margin-top: 20px;
}
.slide-sm {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0 7px;
    outline: none;
    cursor: pointer;
    background-color: #f2f2f2;
    opacity: .6;
}

.slide-sm img{
    width: 100%;
    min-height: 75px;
    max-height: 80px;
    padding: 3px;
    margin: 0 auto;
    border-radius: 3px;
}
.slide-sm:hover,
.slide-sm:active,
.slide-sm:focus,
.slick-current img {
    background-color: #fff;
    opacity: 1;
}

.slider-text {
    margin: 0 auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0; right: 0;
    color: white;
    z-index: 20;
    background-color: rgba(0,0,0,.5);
    cursor: default;
}
.slider-text .about-header {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
}

/*--------------------CLIENTS---------------------------*/
.clients {
    padding: 80px 0 160px 0;
}
.clients-content{
    padding: 30px 20px;
    text-align: center;
}
.clients-content p{
    font-size: 17px;
    margin: 10px auto;
    font-weight: 600;
    line-height: 1.5;
}

/*----------------------CONTACTS------------------*/
footer {
    background-color: #242424;
    padding: 115px 0 260px;
    position: relative;
}
footer .content-header {
    text-align: center;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 80px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
}
footer .content-text {
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    font-size: 32px;
    line-height: 1.23;
    font-family: 'Roboto',sans-serif;
    padding: 0 10%;
    word-wrap: normal;
}
footer .content-text a {
    color: white;
}
footer .content-text a:hover {
    opacity: .99;
    text-shadow: 0px 1px 10px white;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.social {
    text-align: center;
    margin: 40px auto 0;
    padding: 0 0%;
        width: 280px;
}
.social a {
    font-size: 2em;
    color: white;
    display: list-item;
    list-style-type: none;

}
.social a:hover {
    opacity: .99;
    text-shadow: 0px 1px 10px white;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.copyright {
    background-color: #111111;
    color: #ffffff;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    opacity: .8;
}
.copyright a {
    color: skyblue;
}
.copyright a:hover {
    color: white;
    opacity: .99;
    text-shadow: 0px 1px 10px white;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

footer .arrow-down {
    transform: rotate(180deg);
    bottom: 80px;
}
footer svg {
    width: 38.40px;
    height: 18.5px;
    color: white;
    fill:#ffffff;
}

/*----------------------------------CALLBACK---------------------------*/
.callback-btn {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 0;
    position: relative;
    z-index: 30;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    width: 200px;
}
.callback-btn a {
    color: white;
}

/*
.btn-order {
    padding: 7px 10px;
    color: #242424;
    background: rgb(238,238,238); 
    background: -moz-linear-gradient(-45deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
    background: linear-gradient(135deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );
    border: 2px solid #999999;
}
.btn-order:focus {
	outline: none;
}
*/

/*   Modal   */
.modal-window {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: rgba(9,9,9,.5);
    z-index: 9999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    -o-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    font-family: 'Ubuntu', sans-serif;
}
.modal-window:target {
    display: block;
    pointer-events: auto;
}

.form-request {
    min-width: 280px;
    max-width: 480px;
    width: 92%;
    position: relative;
    margin: 8% auto 0;
    background: #fff;
    padding: 0px 4%;
    border-radius: 3px;
    border: 2px solid #999999;
}
.form-request label {
    color: #111111;
    display: block;
    font-size: 1.2rem;
    padding: 10px 0;
}
.form-request input{
    width: 100%;
    color: #333333;
    height: 44px;
    font-size:18px;
    background-color: #fafafa;
    outline: none;
    border:1px solid #999999;
    border-radius: 3px;
    padding: 10px 10px;
}
.form-request textarea {
    width: 100%;
    padding: 10px;
    min-height: 105px;
    border:1px solid #999999;
    border-radius: 3px;
    background-color: #fafafa;
    resize: none;
    outline: none;
    font-size:18px;
    color: black;
}

.close {
    color: #242424;
    padding-top: ;
    position: absolute;
    top: -5px;right: 5px;
    text-align: center;
    text-decoration: none;
    opacity: .85;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    height: 28px;
    border-radius: 50%
}
.close:hover {
    -webkit-transition: all ease-out .1s;
    -moz-transition: all ease-out .1s;
    -o-transition: all ease-out .1s;
     transition: all ease-out .1s;
    opacity: 1;
}
.text-request {
    font-size: 1.4rem;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px 0 20px;
}
.form-request .send-btn {
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 5px 15px;
    text-transform: uppercase;
    margin: 30px auto 40px auto;
    color: #333333;
    font-size: 16px;
}

/*Стилизация placeholder */
::-webkit-input-placeholder {color:#fff; font-size: 15px;}
::-moz-placeholder          {color:#fff; font-size: 15px;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff; font-size: 15px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff; font-size: 15px;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}



/*----------------------------------------------------*/

@media screen and (min-width:320px) and (max-width:1023px) {
   
    body {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        overflow-x: hidden;
    }
    html {overflow:auto;}

    header .container-flex {
        padding: 0;
        margin: 0 auto;
        position: relative;
    }
    .header-menu {
        display: block;
        padding: 8px 0px;
        vertical-align: middle;
        z-index: 999;
        width: 100%;
        margin-top: 0px;
/*        background-color: #242424;*/
    }

    .bg-responsive {
        background: rgb(102,102,102); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(84,84,84,1) 36%, rgba(35,35,35,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(84,84,84,1) 36%,rgba(35,35,35,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(84,84,84,1) 36%,rgba(35,35,35,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#232323',GradientType=0 ); /* IE6-9 */
        display: block;
        width: 100%;
        height: 49px;
        border-bottom: 1px solid #222222;
        z-index: 999;
        top: 0;
    }

    .menu-icon a {
        color: white;
    }
    .menu-icon:hover {
        opacity: 1;
    }
    .menu-icon {
        display: block;
        padding: 5px 10px;
        margin: 0px auto 0;
        text-align: center;
        font-size: 1.6rem;
        position: absolute;
        left: 15px;
        top: 5px;
        cursor: pointer;
        z-index: 9999;
        font-weight: normal;
        opacity: .9;
        line-height: 1;
        border: 1px solid #333;
    }
    #logo {
        display: block;
        background: transparent;
        right: 15px;
        z-index: 10000;
        top: 8px;
/*        position: absolute;*/

    }
    .brand-name {
        font-size: 20px;
        letter-spacing: 1px;
    }
    nav {
        display: none;
        font-family: 'Ubuntu', sans-serif;
        position: absolute;
        width: 100%;
        z-index: 9999;
        border: none;
        background-color: #242424;
        top: 49px;
    }
    nav ul {
        list-style-type: none;
        position: relative;
        text-align: left;
        margin-top: 0px;
        padding: 10px 20px 20px 20px;
        width: 100%;
    }
    nav ul li {
        display: list-item;
        font-size: 1.3rem;
        padding: 1px 0;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
        letter-spacing: .5px;
        line-height: 1.4;
    }
    nav ul li a {
        color: #ffffff;
        padding: 5px 0;
    }
    nav ul li:hover a {
        text-shadow: 1px 1px 10px white;
        border: none;
        color: white;
    }
    .static {
        position: absolute;
    }
    .fixed {
        position: fixed;
        background-color: #242424;
    }
    .callback-btn {
        text-align: center;
        margin: 0 auto;
        padding: 0 ;
        bottom: 0;
        right: 0;
        left: 0;
        top: 74vh;
        width: 90%;
        z-index: 30;
        display: block;
    }
    .callback-btn a{
        color: white;
        padding: 10px 15px;
        background-color: #29489b;
        border-radius: 1px;
        border: 1px solid #ffffff;
    }
    .callback-btn:hover a{
        color: white;
        background-color: #29489b;
    }

    .form-request {
        margin: 7% auto 0;
        background: #fff;
        padding: 0px 4%;
    }
    .form-request label {
        color: #111111;
        display: block;
        font-size: 1.18rem;
        padding: 15px 0 7px 0;
    }
    .form-request input{
        height: 36px;
        font-size:16px;
        background-color: #fafafa;
        outline: none;
        border:1px solid #e6e6e6;
        border-radius: 3px;
        padding: 0px 7px;
    }
    .form-request textarea {
        padding: 7px;
        min-height: 105px;
        border:1px solid #e6e6e6;
        border-radius: 3px;
        background-color: #fafafa;
        resize: none;
        outline: none;
        font-size:16px;
        color: black;
    }

    .close {
        color: #242424;
        padding-top: 0px;
        position: absolute;
        top: 0;right: 5px;
        text-align: center;
        text-decoration: none;
        opacity: .85;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2em;
    }
    .close:hover {
        -webkit-transition: all ease-out .1s;
        -moz-transition: all ease-out .1s;
        -o-transition: all ease-out .1s;
         transition: all ease-out .1s;
        opacity: 1;
    }
    .text-request {
        font-size: 1.4rem;
        text-align: center;
        color: #333;
        text-transform: uppercase;
        font-weight: bold;
        padding: 40px 0 10px;
    }
    .form-request .send-btn {
        margin: 0 auto;
        text-align: center;
        max-width: 150px;
        display: block;
        padding: 5px 12px;
        text-transform: uppercase;
        margin: 20px auto 40px auto;
        color: #333333;
        font-size: 14px;
        position: relative;
    }
    
    .header-text {
        font-size: 1.85rem;
        line-height: 1.17;
        padding: 0;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin: 0px auto 30px;
    }
    .header-descr {
        font-size: 24px;
        line-height: 1.2;
        padding-bottom: 50px;
        font-weight: 300;
        max-width: 560px;
    }
    .arrow-down {
        bottom: 20px;
    }
    footer .arrow-down {
        bottom: 90px;
    }
    .about-header, .services-header, .clients-header {
        font-size: 30px;
        line-height: 1;
        padding: 24px 0 24px 0;
        margin: 0px auto;
        display: block;
        min-width: 280px;
        width: 90%;
        max-width: 700px;
    }
        
    .about {
        padding: 80px 0 80px 0;
    }
    .about-text {
        font-size: 18px;
        line-height: 1.3;
        text-align:justify;
        padding: 0 8% 40px 8%;
    }

    /*  VIDEO RESPONSIVE  */
    .video {
        position: relative;
        margin: 0px auto 0px;
        min-width: 280px;
        max-width: 480px;
        width: 90%;
        min-height: 200px;
        max-height: 360px;
        height: 100%;
        margin: 0 auto;
        background-color: #f8f8f8;
        z-index: 1;
    }
    .video img {
        height: 100%;
        position: absolute;
        z-index: -1;
    }
    .video iframe {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
    }
    .video::before {
        width: 60px;
        height: 60px;
        margin: -30px 0 0 -30px;
    }
    .add-info {
        padding: 80px 0 80px 0;
    }
    .add-info .about-header {
        font-size: 30px;
        min-width: 280px;
        width: 90%;
        max-width: 730px;
        padding: 24px 0px 24px 0px;
    }
    
    .services {
        padding: 80px 0 80px 0;
    }
    .services-descr {
        font-size: 20px;
        line-height: 1.2;
        padding:0 8%;
    }
    .content-services {
        padding: 30px 0 0;
    }
    .service-items img{
        margin: 0 auto;
        
    }
    .service-items .content-header {
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
        padding: 10px 1% 10px ;
        font-weight: 500;
    }

    .portfolio {
        padding: 80px 0 80px 0;
    }
    .portfolio .about-header {
        padding-bottom: 20px;
    }
    .slider-text {
        margin: 0 auto;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        display: block;
        position: absolute;
        top: 0;
        left: 0; right: 0;
        color: white;
        z-index: 20;
        background-color: rgba(0,0,0,.5);
        cursor: default;
    }
    .slider-text .about-header {
        padding: 5px;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
    }
    .clients {
        padding: 80px 0 80px 0;
    }
    .clients-content{
        padding: 0px 20px;
    }
    .clients-content p{
        font-size: 18px;
        margin: 10px auto;
        line-height: 1.2;
    }
    .content-header {
        margin-bottom: 20px;
    }

    footer {
        padding: 80px 0 180px;
    }
    footer .content-header {
        letter-spacing: 2.5px;
        margin-left: 10px;
        display: block;
        font-size: 20px;
    }

    footer .content-text {
        text-align: center;
        color: #ffffff;
        font-size: 22px;
        line-height: 1.4;
        padding: 0;
    }
    footer .content-text a {
        color: white;
    }
    .social {
        margin: 20px auto 0;
        text-align: center;
       
    }
    .social a {
        font-size: 24px;
        line-height: 1.4;
        margin-left:0px;
        margin-right:0px;
    }
    .copyright {
        font-size: 12px;
    }
}

.btn-hover {
    width: 170px;
    background: rgb(122,188,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    border-radius: 2px;
}

.btn-hover {
    height: 40px;
    display: table-cell;
}
 
.btn-hover span {
    position: absolute;
    box-sizing: border-box;
    display: block;
}

.btn-hover>:first-child {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}
.btn-hover>span span {
  width: inherit;
  text-align: center;
  -moz-transition: opacity 0.4s ease, top 0.3s ease;
  -webkit-transition: opacity 0.4s ease, top 0.3s ease;
  transition: opacity 0.4s ease, top 0.3s ease;
    height: 20px;
}
.btn-hover>span>span:nth-child(1) {
  opacity: 1;
  top: 11px;
}
.btn-hover>span>span:nth-child(2) {
  top: 20px;
  opacity: 0;
}
.btn-hover:hover>span>span:nth-child(1) {
  opacity: 0;
  top: 4px;
}
.btn-hover:hover>span>span:nth-child(2){
  opacity: 1;
  top: 12px;
}
 
.btn-hover>span>span:nth-child(3) {
  top: 26%;
  height: 45%;
  width: inherit;
}
